/* Body */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

/* Top Line */

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-black {
  color: #2e2f42;
}
/* ex. span logo footer */
.logo-white {
  color: #f4f4fd;
}

.nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.adress {
  font-style: normal;
}

.adress-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style-type: none;
}

.adress-link {
  color: #434455;
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

/* Main page */
.main {
  background-color: #2e2f42;
}

.main-info {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: #ffffff;
}

.button {
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.botton:hover,
.botton:focus {
  color: #404bbf;
}

/* Section 2, 3, 4 */

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.target-list {
  list-style-type: none;
}

.target-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.target-par: {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.team {
  background: #f4f4fd;
}

.team-list {
  list-style-type: none;
}

.portfolio-list {
  list-style-type: none;
}

/* footer (logo in the Top line) */
.footer {
  background-color: #2e2f42;
}
.footer-par {
  color: #f4f4fd;
}
